<ion-header>
  <ion-toolbar>
    <ion-title>Controle Academico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account" routerLink="/inicio">
      <ion-icon name="person"></ion-icon>
      <ion-title>Inicio</ion-title>
    </ion-tab-button>
    <ion-tab-button tab="calendario" routerLink="/calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-title>Calendario</ion-title>
    </ion-tab-button>
    <ion-tab-button tab="Notas" routerLink="/notas">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-title>Notas</ion-title>
    </ion-tab-button>
    <ion-tab-button tab="Sair">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-title>Sair</ion-title>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>