<app-header titulo="Notas"></app-header>

<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account" routerLink="/inicio">
      <ion-icon name="person"></ion-icon>
      <ion-title>Inicio</ion-title>
    </ion-tab-button>
    <ion-tab-button tab="calendario" routerLink="/calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-title>Calendario</ion-title>
    </ion-tab-button>
    <ion-tab-button tab="Sair">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-title>Sair</ion-title>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>